---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on my <a href="{{site.author.googlescholar}}">Google Scholar</a>.</div>
{% endif %}

{% include base_path %}

<div class="publications-page">
  {% assign sorted_publications = site.publications | where: "published", true | sort: "date" | reverse %}

  {% if site.publication_category %}
    {% for category in site.publication_category %}
      {% assign category_posts = sorted_publications | where: "category", category[0] %}
      {% if category_posts.size > 0 %}
        <h2 class="archive__subtitle publication-section__title">{{ category[1].title }}</h2>
        {% for post in category_posts %}
          {% assign reverse_index = category_posts.size | minus: forloop.index0 %}
          {% capture pub_label %}{{ category[1].prefix }}{{ reverse_index }}{% endcapture %}
          {% include archive-single.html pub_label=pub_label %}
        {% endfor %}
      {% endif %}
    {% endfor %}
  {% else %}
    {% for post in sorted_publications %}
      {% include archive-single.html %}
    {% endfor %}
  {% endif %}
</div>



